
.header {
    width: 100%;
    height: 6.5rem;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
}



.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav_enlace {
    font-size: 1.5rem;
    margin-left: 20px;
    padding: 10px;
    text-decoration: none;
    color: skyblue;
}

.nav_enlace:hover {
    border-bottom: 1px solid #000;
}

.header_logo {
    color: #000;
    font-size: 1.7rem;
    text-decoration: none;
}


.carrito { 
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;   
}

.carrito_img {
    width: 60px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}


.carrito_number {
    font-size: .9rem;
    text-align: center;
    background-color: skyblue;
    color: white;
    border-radius: 30%;
    transform: translate(-150%, -70%);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 20px;
    height: 20px;
}
